{
    "trailingComma": "es5",
    "jsxSingleQuote": true,
    "jsxBracketSameLine": false,
    "printWidth": 80,
    "singleQuote": true,
    "tabWidth": 4,
    "arrowParens": "always",
    "bracketSpacing": true,
    "endOfLine": "auto",
    "semi": false
}
